# Ignore build files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
encode
decode

# Ignore temporary files
temp/
data/
*.zip

# Ignore VSCode configuration files
.vscode/

# Ignore specific file
git_guide.md
